th, td{
    border: 2px solid black;
    padding: 40px;
    width: 100px;
    text-align: center;
    margin: 20px;
}

table{
    border-collapse: collapse;
    margin: 40px;
}

th{
    background-color: rgb(163, 163, 163);
    
}

.Reprovado{
    background-color: rgb(226, 103, 103);
}

.verde{
    background-color: rgb(100, 187, 100);
}