* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #edcd9e;
    font-family: "Chewy", system-ui;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 228, 195);
    height: 150px;
    border: 2px solid rgb(231, 204, 114);
    font-family: "Chewy", system-ui;
    padding-left:60px;
}


.logo1{
    width: 200px;
    height: 130px;
    margin-left: 20px;
    margin-right: 0;
    margin-left: -200px;
}

.logo2{
    width: 200px;
    height: 130px;
    margin-right: 20px;
    margin-left: -200px;
}

.hd1, .hd2, .hd3, .hd4, .hd5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(172, 117, 0);
    cursor: pointer;
    text-decoration: none;
}

.hd1:hover{
    color: #0987c7;
    
    transform: scale(1.2);
}

.hd1:active{
    color: #054f7c;
    transform: scale(0.90);
}
.hd1:active::after{
    background-color: #054f7c;
}

.hd1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color: #0987c7;
    transition: width 0.5s;
}
.hd1:hover::after{
    width: 100%;
}

.hd2:hover{
    color: #e06a00;
    
    transform: scale(1.2);
}

.hd2:active{
    color: #b04400;
    transform: scale(0.90);
}
.hd2:active::after{
    background-color: #b04400;

}

.hd2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color: #e06a00;
    transition: width 0.5s;
}
.hd2:hover::after{
    width: 100%;
}

.hd3:hover{
    color: #f88bad;
    
    transform: scale(1.2);
}

.hd3:active{
    color: #c06070;
    transform: scale(0.90);
}
.hd3:active::after{
    background-color: #c06070;
}
.hd3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color:#f88bad;
    transition: width 0.5s;
}
.hd3:hover::after{
    width: 100%;
}

.hd4:hover{
    color: #31a768;
    
    transform: scale(1.2);
}

.hd4:active{
    color: #1f7a4f;
    transform: scale(0.90);
}
.hd4:active::after{
    background-color: #1f7a4f;
}
.hd4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color:#31a768;
    transition: width 0.5s;
}
.hd4:hover::after{
    width: 100%;
}

.hd5:hover{
    color: #a64ca6;
    
    transform: scale(1.2);
}
.hd5:active{
    color: #7a347a;
    transform: scale(0.90);
}
.hd5:active::after{
    background-color: #7a347a;
}
.hd5::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color:#a64ca6;
    transition: width 0.5s;
}
.hd5:hover::after{
    width: 100%;
}